

#searchedWord {
    color: #037362;
    border-bottom: 1px solid  #037362;
}

.resHeading {
    border-bottom: 1px solid  #DCDEDD;
    padding: 30px 0 30px 0;
    display: flex;
    justify-content: center;
    letter-spacing: 1px;
}

.text {
    font-family: Arial, Helvetica, sans-serif;
}

.messageContainer {
    display: flex;
    justify-content: center;
}

#try {
    padding: 150px
}

#explore {
    max-width: 1246px;
    margin:  30px auto 30px;
    letter-spacing: 1px;
    font-size: 22px
}

.resContainer {
    display: flex;
    flex-flow: row wrap;
    width: 1246px;
    margin: auto;
}

.resPreview {
    max-width: 390px;
    font-family: Arial, Helvetica, sans-serif;
    margin-right: auto;
    margin-bottom: 60px;
}

.resImg {
    max-width: 390px;
}

.caption {
    border: 1px solid #DCDEDD;
    border-top: none;
    padding: 10px;
    height: 146px;
}
