.feedContainer {
    padding: 0 150px;
    display: grid;
    grid-template-columns: 625px 200px 300px;
    grid-template-rows: 40px 120px 120px 120px 72px 48px;
}

.featured {
    grid-column-start: 1;
    display: grid;
}

#ftTitle {
    grid-row-start: 1;
}

#ftImg {
    grid-row-start: 2;
}

#ftTitleLink {
    grid-row-start: 3;
}

#ftSubtitle {
    grid-row-start: 4;
}

.recommended {
    grid-column-start: 2;
}

#rectitle {
    grid-row-start: 1;
}

.img {
    width: fit-content;
}

.recPreview {
    grid-row: 2;
    grid-column-start: 3;
    display: flex;
    flex-direction: column;
}
