.feedContainer {
    margin: 30px;
    padding: 0 100px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 40px 360px 72px 48px;
    font-family: Arial, Helvetica, sans-serif;
}

#ftPreview {
    grid-row: 1 / 5;
    border-right: 1px solid #DCDEDD;
}

.featured {
    grid-column-start: 1;
    display: grid;
    justify-content: center;

}

#ftTitle {
    grid-row-start: 1;
    color: #656969;
    font-size: 15px;
    letter-spacing: 1px;
}

#ftImg {
    grid-row-start: 2;
    max-height: 350px;
}

#ftTitleLink {
    grid-row-start: 3;
    text-decoration: none;
    color: #282828;
    font-size: 28px;
    padding: 18px 0 0 0;
}

#ftTitleLink:hover {
    color: #037362;
    text-decoration: underline;
}

#ftSubtitle {
    grid-row-start: 4;
}

.recommended {
    grid-column: 2;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    justify-content: center;
}

#recTitle {
    grid-row-start: 1;
    color: #656969;
    font-size: 15px;
    letter-spacing: 1px;
}

.previewContainer {
    grid-row: 2;
    display: flex;
    flex-direction: column;
}

.recPreview {
    align-content: space-between;
    max-height: 120px;
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 1fr 1fr;
}

.img {
    height: 100px;
}

.titleLink {
    grid-column: 2;
    text-decoration: none;
    color: #282828;
}

.titleLink:hover {
    color: #037362;
    text-decoration: underline;
}

.subtitle {
    grid-column: 2;
    grid-row: 2;
    color: #282828;
    font-size: 13px;

}
