.feedContainer {
    padding: 0 150px;
    display: grid;
    grid-template-columns: 625px 560px;
    grid-template-rows: 40px 360px 72px 48px;
    /* grid-template-rows: 40px 120px 120px 120px 72px 48px; */
}

.featured {
    grid-column-start: 1;
    display: grid;
}

#ftTitle {
    grid-row-start: 1;
}

#ftImg {
    grid-row-start: 2;
}

#ftTitleLink {
    grid-row-start: 3;
}

#ftSubtitle {
    grid-row-start: 4;
}

.recommended {
    grid-column: 2;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}

#recTitle {
    grid-row-start: 1;
}

.previewContainer {
    grid-row: 2;

    display: flex;
    flex-direction: column;
}

.recPreview {
    max-height: 120px;
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 10px
}

.img {
    height: 100px;
}

.titleLink {
    grid-column: 2;
}

.subtitle {
    grid-column: 2;
    grid-row: 2;
}
