#page {
    border-bottom: 1px solid #DCDEDD;
    background-color: #FBFBFA;
    font-family: Arial, Helvetica, sans-serif;
}

.pageContainer {
    width: 1230px;
    padding: 42px 60px;
    display: grid;
    margin: 0 76px;
    grid-template-rows: 100px 650px 1fr;
}

.heading {
    grid-row: 1;
    height: 80px;
    margin-bottom: 25px;
    display: grid;
    grid-template-rows: 43px 24px;
    color: #282828;
    font-family: Arial, Helvetica, sans-serif;
}

#fundTitle {
    font-size: 25px;
    margin: 0 0 6px 0;
    justify-self: center;
}

#fundSubtitle {
    font-size: 18px;
    margin: 0 0 6px 0;
    justify-self: center;
}

.fundContainer {
    display: grid;
    grid-template-columns: 820px 420px;
    padding-bottom: 40px;
}

#image {
    width: 800px;
    padding: 0 20px 0 20px;
}

.goalContainer {
    grid-column-start: 2;
    padding-left: 30px;
    border-top: 10px solid #028858;
}

#funded {
    color: #028858;
    font-size: 50px;
    margin-bottom: 20px;
}

#goal {
    color: #656969;
}

.exchanges {
    height: 400px;
    overflow-y: scroll;
}

.exchangeContainer {
    border: 1px solid #E8E8E8;
    padding: 30px;
    color: #656969;
}

.exchangeContainer:hover {
    border: 1px solid #028858;

}

.amount {
    font-size: 20px;
}

.exchangeTitle {
    color: black;
}

.descriptionContainer {
    grid-row: 3;
    padding: 30px;
}

#des {
    font-size: 20px;
    letter-spacing: 1px;
}
